doctype html
html
  head
    title Радио Ростова онлайн, трансляция Радио Ростова
    meta(
        'http-equiv'="Content-Type"
        'content'="text/html; charset=utf-8"
    )
    meta(
        'http-equiv'="X-UA-Compatible"
        'content'="IE=edge,chrome=1"
    )
    meta(
        'name'="description"
        'content'="Онлайн трансляция станции 'Радио Ростова', слушать онлайн"
    )
    meta(
        'name'="keywords"
        'content'="радио ростова онлайн, слушать радио ростова онлайн, радио ростова плейлист, слушать радио ростова"
    )
    if (IS_PROD)
        link(rel='stylesheet', href='css/all.css?20141210_2')
    else
        link(rel='stylesheet', href='css/main.css?20140720')
        link(rel='stylesheet', href='css/new-player.css?20140720')
    link(rel='image_src', type="image/jpeg", href='http://live.radiorostov.ru/images/rr.jpg')
    link(rel='shortcut icon', type="image/x-icon", href='http://live.radiorostov.ru/favicon.ico')
    body
    block content
