doctype 5
html
  head
    title Радио Ростова 101.6 онлайн, ретрансляция радио Ростова
    meta(
        'http-equiv'="Content-Type"
        'content'="text/html; charset=utf-8"
    )
    meta(
        'http-equiv'="X-UA-Compatible"
        'content'="IE=edge,chrome=1"
    )
    meta(
        'name'="description"
        'content'="Онлайн трансляция станции 'Радио Ростова', слушать онлайн"
    )
    meta(
        'name'="keywords"
        'content'="радио ростова онлайн 101.6 FM, слушать радио ростова онлайн, радио ростова плейлист, слушать радио ростова"
    )
    if (IS_PROD)
        link(rel='stylesheet', href='css/all.css?20130226_4')
    else
        link(rel='stylesheet', href='css/main.css?2012101')
        link(rel='stylesheet', href='css/new-player.css?2012101')
    link(rel='image_src', type="image/jpeg", href='http://live.radiorostov.ru/images/rr.jpg')
  body
    block content