/* *** PLAYER *** */
#rr-player {
    width: 502px;
    height: 150px;
    font-family: Calibri;
    background: url(../images/player/bg.png) no-repeat;
    margin: 0 auto;
    position: relative;
}

#rr-player .cover {
    float: left;
    margin-top: 11px;
    margin-left: 9px;
    width: 126px;
    height: 126px;
    background: url(../images/player/coverbg.png);
    position: relative;
}

#rr-player .cover #cover-image {
    height: 117px;
    margin-left: 5px;
    margin-top: 4px;
    width: 116px;
}

#rr-player .cover .cover-overlay {
    background: url(../images/player/cover-overlay.png);
    width: 126px;
    height: 126px;
    position: absolute;
    top: 0;
    left: 0;
}

#rr-player .track-info {
    float: left;
    height: 150px;
    width: 355px;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
}

#rr-player .track-info .track {
    color:  #C4C4C4;
    position: absolute;
    top: 100px;
    width: 100%;
}
#rr-player .track-info .track .track-link {
    color: #C4C4C4;
    text-decoration: none;
    white-space: nowrap;
}

#rr-player .track-info .track .name {
    font-size: 18px;
    text-decoration: underline;
}
#rr-player .track-info .track .artist {
    font-size: 11px;
}
#like {
    display: block;
    min-width: 16px;
    height: 16px;
    background: url(../images/player/like-social.png) no-repeat 4px 0 #666666;

    position: absolute;
    cursor: default;
    padding: 3px;
    border: solid 1px #666;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 16px;
    left: 472px;
    top: 120px;
}

#like:hover,
#like.touch.touched{
    width: 68px;
    background-image: none;
}
#like .target {
    float: left;
    background: url(../images/player/like-social.png) no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
    display: none;
}
#like .target.facebook {
    background-position: 0 -29px;
}
#like .target.vkontakte {
    background-position: 0 -67px;
}
#like .target.twitter {
    background-position: 0 -86px;
}
#like .target.google {
    background-position: 0 -48px;
}

#like:hover .target,
#like.touch.touched .target{
    display: block;
}


#rr-player .track-info .controls {
    position: absolute;
    top: 57px;
    width: 100%;
}
#rr-player.no-flash .track-info .controls {
    top: 15px;
}
#rr-player .track-info .controls .flash-alert {
    display: none;
    font-size: 13px;
}
#rr-player .track-info .controls .flash-alert span {
    color: rgb(255, 97, 78);
    text-align: center;
    font-size: 12px;
}

#rr-player.no-flash .track-info .controls .flash-alert {
    display: inline;
}

#rr-player .track-info .controls ul.buttons {
    margin: 0 auto;
    width: 140px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
}

#rr-player.no-flash .track-info .controls ul.buttons {
    display: none;
}

#rr-player .track-info .controls ul.buttons li.button {
    display: inline;
    margin-right: 25px;
    padding: 6px 10px;
    background: url(../images/player/controls.png) no-repeat;
    cursor: pointer;
}
#rr-player .track-info .controls.inplay ul.buttons li.button.play {
    display: none;
}
#rr-player .track-info .controls.inplay ul.buttons li.button.pause {
    display: inline;
}
#rr-player .track-info .controls ul.buttons li.button.prev {
    background-position: 0 2px;
    padding-left: 20px;
    padding-right: 20px;
}

#rr-player .track-info .controls ul.buttons li.button.pause {
    background-position: -81px 0;
    display: none;
}
#rr-player .track-info .controls ul.buttons li.button.play {
    background-position: -50px 0;
}
#rr-player .track-info .controls ul.buttons li.button.next {
    background-position: -112px 1px;
    padding-left: 20px;
    padding-right: 20px;
}

#rr-player .track-info .volume {
    position: absolute;
    top: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rr-player.no-flash .track-info .volume {
    display: none;
}

#rr-player .track-info .volume .progress {
    background: url(../images/player/progress.png) no-repeat;
    width: 355px;
    height: 6px;
    margin-bottom: 2px;
    cursor: pointer;
}

#rr-player .track-info .volume .progress .slider {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 6px;
}
#rr-player .track-info .volume .progress .slider .left {
    background: url(../images/player/progress-slider.png) repeat-x;
    width: 3px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
}
#rr-player .track-info .volume .progress .slider .center {
    background: url(../images/player/progress-slider.png) repeat-x 0 -7px;
    height: 6px;
    margin: 0 3px
}
#rr-player .track-info .volume .progress .slider .right {
    background: url(../images/player/progress-slider.png) repeat-x -4px 0;
    position: absolute;
    width: 4px;
    height: 6px;
    top: 0;
    right: 0;
}

#rr-player .track-info .volume .label,
#rr-player .track-info .volume .value {
    font-size: 16px;
}
#rr-player .track-info .volume .label {
    float: left;
}
#rr-player .track-info .volume .value {
    float: right;
}









